extends layout

block content

  form(action='/createDeck' method='POST' class='form-registration')
    div(class='row my-3')
        div(class='col-md-2 align-bottom')
          label(for="taskName" class='fs-5') New Deck
        div(class='col-md-8')
          input(class="form-control form-control-sm" type="text" name='deckName', placeholder="Enter new deck title here" required)
        div(class='col-md-2 text-end')
          button(class='btn btn-success btn-sm' type='submit') Add Deck


  h5(class='my-2') Flash Card Decks:

  each deck in flashCardDecks
    div(class='row mb-2')
      div(class='card col-12')
        div(class='card-body')
          div(class='row')
            div(class='col-4')
              h3(class='card-title') #{deck.name}
            div(class='col-2')
            div(class='col-6 d-flex justify-content-end align-items-center')
              a(class='btn btn-primary' href=`/deck/${deck._id}?index=0`) see cards
              a(class='btn btn-light' href=`/edit/deck/${deck._id}`)
                i(class="fa fa-pencil fa-fw fa-2x" aria-hidden="true")
              button(
                class='btn btn-light'
                hx-trigger='click'
                hx-delete=`/deck/${deck._id}` 
                hx-confirm=`Are you sure you want to delete deck: [${deck.name}]? This cannot be undone...`)
                i(class="fa fa-trash fa-fw fa-2x" aria-hidden="true")

